<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/ico/favicon.ico">

    <title>鼎商动力后台管理系统 V1.1</title>

    <!-- Ploceidae core CSS -->
    <link href="css/ploceidae.css" rel="stylesheet">
    <!-- perfect-scrollbar CSS -->
    <link href="css/perfect-scrollbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-blue sidebar-mini">
<!-- Main Header -->
<div id="header"></div>
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <div id="left"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper scroll_bar">
        <div class="content">
            <ol class="breadcrumb">
                <li><a href="javascript:;"><i class="icon-crown"></i> 课程管理</a></li>
                <li><a href="javascript:;">添加课程视频</a></li>
                <li class="active">添加课程视频</li>
            </ol>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h5 class="box-title">添加课程视频</h5>
                    <div class="box-tools">
                        <div class="has-feedback">
                            <a href="B6_course_chapter_list.html" class="btn btn-primary btn-sm"><i class="icon-jump"></i> 返回</a>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-xs-2 control-label"><span class="font-red">*&nbsp;</span>选择课程章节：</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="chapter">
                                        <option value="0">请选择课程章节</option>
                                        <option value="1">章节1：生活OL妆</option>
                                        <option value="2">章节2：新娘妆</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="font-red">*&nbsp;</span>课程视频名称：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" placeholder="请输入课程视频标题">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="font-red">*&nbsp;</span>发布者：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="publisher" placeholder="请输入发布者姓名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="font-red">*&nbsp;</span>发布者介绍：</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" name="publisher_introduction" placeholder="请输入简要发布者介绍"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="font-red">*&nbsp;</span>课程链接：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="course_url" placeholder="请输入正确的链接">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">课程概要：</label>
                                <div class="col-sm-10">
                                    <textarea id="editor_id" name="content" style="width:100%;height:300px;"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="submit" class="btn btn-info btn-sm">保存</button>
                                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<!-- plugins -->
<script src="js/plugins/transition.js"></script>
<script src="js/plugins/tooltip.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<!-- scrollbar -->
<script src="js/scrollbar/jquery.mousewheel.js"></script>
<script src="js/scrollbar/perfect-scrollbar.js"></script>

<!-- KindEditor -->
<script src="js/plugins/kindEditor/kindeditor.js"></script>
<script src="js/plugins/kindEditor/lang/zh_CN.js"></script>
<script src="js/plugins/modal.js"></script>
<script src="js/plugins/KindEditor.js"></script>
<!-- 表单验证 -->
<script src="js/plugins/validation/jquery.validate.js"></script>
<script type="text/javascript">
    // scrollbar 滚动条
    //------------------------------------------
    jQuery(document).ready(function ($) {
        "use strict";
        $('.scroll_bar').perfectScrollbar();
    });

    $(function(){
        // 外部文件引入
        $("#header").load("header.html");
        $("#left").load("left.html");
        $("#photoPic").load("modal_picture.html");
    });

    //表单验证
    $().ready(function(){
        $(".form-horizontal").validate({
            rules: {
                chapter: {
                    required: true,
                    min:1 //此处验证为 value不等于0的选项
                },
                name: {
                    required: true
                },
                publisher: {
                    required: true
                },
                publisher_introduction: {
                    required: true
                },
                course_url: {
                    required: true,
                    url:true
                }
            },
            messages: {
                chapter: {
                    required: "请选择课程章节",
                    min: "请选择课程章节"
                },
                name: {
                    required: "请输入课程视频标题"
                },
                publisher: {
                    required: "请输入发布者姓名"
                },
                publisher_introduction: {
                    required: "请输入简要发布者介绍"
                },
                course_url: {
                    required: "请输入正确的链接",
                    url:"请输入正确的链接"
                }
            }
        })
    });
</script>
<!-- AdminLTE App -->
<script src="js/app.js"></script>
</body>
</html>
